<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="WidgetsNormalized" connectionString="Server=localhost;Database=widgets-normalized;Trusted_Connection=yes;" providerName="System.Data.SqlClient"/>
    <add name="WidgetsDenormalized" connectionString="Server=localhost;Database=widgets-denormalized;Trusted_Connection=yes;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>