<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SomeInteger" value="23"/>
    <add key="Prefix_SomeInteger" value="46"/>

    <add key="SomeString" value="Quick Brown Fox"/>
    <add key="Prefix_SomeString" value="Lazy Dog"/>

    <add key="SomeDecimal" value="3.14"/>
    <add key="Prefix_SomeDecimal" value="2.81"/>
  </appSettings>
</configuration>